#task.show {
    box-shadow: 0 0 0 2px #1327a0;
    height: 200px;
}

#task {
    width: 50%;
    resize: none;
    border: 1px solid rgba(44, 53, 72, 0.15);
    border-radius: 8px;
    padding: 10px 10px;
    height: 50px;
    transition: height 2s ease;
}

#task-send {
    display: none;
}